{% extends "master.html" %}

{% block content %}

<!-- Form Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <form action="{{ form.action }}" method="{{ form.method }}">
            <div class="col-sm-12 col-xl-6">
                {% for field in form.fields %}
                    {% if field.field_type == "Email" %}
                        <h6 class="mb-4">{{ field.label }}</h6>
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                            <label for="floatingInput">{{ field.display_placeholder() }}</label>
                        </div>
                    {% else if field.field_type == "Text" %}
                        <h6 class="mb-4">{{ field.label }}</h6>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingTitle" placeholder="Enter title">
                            <label for="floatingTitle">{{ field.display_placeholder() }}</label>
                        </div>

                    {% else if field.field_type == "File" %}
                        <div class="mb-3">
                            <label for="formFile" class="form-label">{{ field.label }}</label>
                            <input class="form-control bg-dark" type="file" id="formFile">
                        </div>
                    {% else if field.field_type == "Select" %}
                        <select class="form-select mb-3" aria-label="Default select example">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    {% else if "alpha" == "Test2" %}
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Default radio
                        </label>
                    {% else if "alpha" == "Test1" %}
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                        <label class="form-check-label" for="flexRadioDefault2">
                            Default checked radio
                        </label>

                    {% endif %}
                {% endfor %}
            </div>
        </form>
    </div>
</div>
<!-- Form End -->

{% endblock content %}
